<% if listings.any? %>
  <table id="<%= id %>" class="table table-striped listings">
    <thead>
      <tr>
        <th>Title</th>
        <th>Price</th>
        <th>Transit</th>
        <th>Walk/Transit/Bike</th>
        <th>Crime</th>
        <th>Neighborhood</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% listings.each do |listing| %>
        <%= content_tag_for :tr, listing, class: tr_class_for_listing(listing) do %>
          <td><%= link_to listing.title, listing.href %></td>
          <td><%= number_to_currency listing.price, precision: 0 %></td>
          <td>
            <% if listing.transit_travel_in_minutes %>
              <%= link_to "#{listing.transit_travel_in_minutes.round} mins", listing.transit_directions_url %>
            <% else %>
              ---
            <% end %>
          </td>
          <td><%= walk_score_info(listing) %></td>
          <td><%= crime_rating_info(listing) %> </td>
          <td><%= listing.neighborhood %></td>
          <td class="text-right">
            <% if listing.are_interested && !listing.has_contacted %>
              <% if listing.email %>
                <%= link_to icon("envelope"), listing_path(listing, email: true, listing: { has_contacted: true }), class: "btn btn-xs btn-primary", method: :patch %>
              <% else %>
                <%= link_to icon("phone"), listing_path(listing, listing: { has_contacted: true }), class: "btn btn-xs btn-primary", method: :patch %>
              <% end %>

            <% end %>

            <% if listing.are_interested.nil? %>
              <%= link_to icon("ok"), listing_path(listing, listing: { are_interested: true }), class: "btn btn-xs btn-success", method: :patch %>
            <% end %>

            <%= link_to icon("remove"), listing_path(listing, listing: { are_interested: false }), class: "btn btn-xs btn-danger", method: :patch %>
          </td>
        <% end %>
      <% end %>
    </tbody>
  </table>

<% else %>
  <div class="jumbotron">
    <h2>Nothing here!</h2>
    <p class="lead">You're all caught up.</p>
  </div>
<% end %>
